
body,
html {
  margin: 0%; /* Altura del titulo */
  padding: 0%;
  height: 100%; /* Altura del titulo */
  background-image: url("documentos/fondo.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  scrollbar-width: thin; /* "auto" o "thin" */
  scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0); /* Color del deslizador y del carril */
}

body::-webkit-scrollbar {
  width: 7px; /* Ancho de toda la barra de desplazamiento */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* Color del área de seguimiento */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Color del deslizador de la barra */
  border-radius: 3px; /* Redondez del deslizador */
  border: 1px solid rgb(255, 255, 255); /* Borde alrededor del deslizador */
}


.donaciones {
  position: relative;
  top: 2%;
  padding-left: 2%;
  font-size: 0.7em;

}

/* Estilos para el menú de navegación */
.menu-navegacion {
  position: relative;
  top: 5%;
  cursor: pointer; /* Cambia el cursor al pasar sobre el menú */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  padding: 0px;
}

.menu-icono {
  display: none; /* Oculta el icono en pantallas grandes */
  cursor: pointer;
}

.barra {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

.menu-enlaces {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-enlaces li {
  padding: 14px 20px;
}

.menu-enlaces a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}


.contenedor {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  position: relative;
  top: 10%;
  padding-bottom: 100px; /* Altura del pie de página */
}


.contenedor-enlace {
  background-color: #f0f0f0; /* Cambia esto por el color de fondo que prefieras */
  padding: 10px; /* Ajusta el espacio interior según necesites */
  margin-bottom: 15px; /* Añade espacio entre los enlaces */
  border-radius: 7px; /* Opcional: para bordes redondeados */
}

.contenedor-enlace a {
  text-decoration: none; /* Esto quita la línea de subrayado de los enlaces */
  color: #000000; /* Cambia esto por el color de texto que prefieras */
}

.contenedor-enlace img {
  width: 100; /* Ajusta esto al tamaño de imagen deseado */
  height: auto;
  margin-right: 10px; /* Añade espacio entre la imagen y el texto del enlace */
}



.titulo-principal {
  font-size: 2em;
  margin: 1%; /* Altura del titulo */
}
.subtitulo {
  font-size: 1.5em;
  margin: 1%; /* Altura del titulo */
}

.bloques {
  
  position: relative;
  top: 5%;
  text-align: justify;
  display: flex;
  justify-content: space-around;
  width: 100%;
}


/* Aplica estos estilos a los bloques específicos que tienen la barra de desplazamiento */
.bloque::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

.bloque::-webkit-scrollbar-track {
  background: #6d7a92; /* Color de fondo del área de seguimiento */
}

.bloque::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color del deslizador */
  border-radius: 5px; /* Redondez del deslizador */
  border: 1px solid #000000; /* Borde alrededor del deslizador */
}



.bloque {
  
  
  width: 32%;
  padding: 20px;
  margin: 0px;
  transition: transform 0.3s;
  cursor: pointer;
  overflow-y: scroll; /* Agrega scroll vertical si el contenido es más grande que el bloque */
  max-height: 350px; /* Ajusta la altura máxima según tus necesidades */
  position: relative; /* Necesario para position: sticky */
}

.bloque h2 {
  text-align: center;
  color: #ffffff;
  background-color: #6d7a92; /* Color de fondo para el título */
  position: sticky;
  top: -6%; /* Distancia desde la parte superior del bloque */
  padding: 0px;
  margin-top: 0; /* Elimina el margen superior */
  width: calc(100% - 0px); /* Ajusta el ancho para considerar el padding */
}

/* Estilos para las imágenes de vista previa */
.bloque img {
  max-width: 100%; /* La imagen no se saldrá del ancho del bloque */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

.bloque:hover {
  transform: scale(1.05);




}
.pie-pagina {
  font-weight: bold;
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
  .menu-navegacion {
    top: 20px; /* Ajusta la posición vertical según tus necesidades */
    right: 20px; /* Ajusta la posición horizontal según tus necesidades */
    position: fixed;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    cursor: pointer; /* Cambia el cursor al pasar sobre el menú */
    background-color: #333;
    padding: 1px;
  }

  /* Estilos para las líneas del menú */
  .menu-navegacion::before,
  .menu-navegacion::after {
    content: "";
    display: block;
    height: 1px;
    width: 3px;
    background-color: #333; /* Color de las líneas */
    margin: 5px 0;
  }

  .menu-icono {
    display: block; /* Muestra el icono en pantallas pequeñas */
  }

  .menu-enlaces {
    display: none; /* Oculta los enlaces en pantallas pequeñas */
    flex-direction: flex;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #333;
    width: 310px;
  }

  .menu-enlaces.active {
    display: flex; /* Muestra los enlaces cuando se hace clic en el icono */
  }

  body,
  html {
    background-image: url("documentos/fondo.jpg");
    background-size: cover;
  }

  .contenedor {
    position: relative;
    top: 0%;

  }

  .titulo-principal {
    font-size: 1em;
    margin: 1%; /* Altura del titulo */
    padding-top: 30%;
  }

  .subtitulo {
    font-size: 0.7em;
    margin: 1%; /* Altura del titulo */
  }

  .bloques {
    display: block; /* Esto asegura que el bloque se muestre debajo del título */
  }

  .bloque {
    max-height: 300px; /* Ajusta la altura máxima según tus necesidad*/
    transform: translateX(1%);
    width: 83%;
  }


  .bloque h2 {

    top: -7%; /* Distancia desde la parte superior del bloque */

  }

  .pie-pagina {
    font-weight: bold;
    position: relative;
    bottom: 1%;
    width: 100%;
    text-align: center;
    padding: 70px;
    box-sizing: border-box;
    color: #ffffff;
  }
}
